// remove default styles
@import "nullstyle.scss";
//

.keyboard {

&__wrapper{
	max-width: 100%;
	overflow: hidden;
}

&__container{
	background-color: #555555;
	margin: 0 auto;
	
}

&__row{
	padding: 5px;
	display: flex;
	justify-content: center;
	gap: 5px;
}

&__key{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	min-width: 30px;
	height: 30px;
	padding: 5px;
	border-radius:5%;
	
}

}
